<h1>Listing apps</h1>
<div class="row">
 <% @apps.each do |app| %>
  <div class="col-xs-6 panel panel-default">
    <div class='contaner'>
    <h3><%= app.name.upcase %></h3>  
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src=<%=link(app.video_link)%>></iframe>
      </div>
      <div class="panel-body">
        <p>Skill: <%= app.skill %></p>      
        <p>Price: <%= app.price %></p>
      </div>
     
        <%= link_to 'Vendor Site', "http://#{app.web_link}", class:'btn btn-info' %>
        <%= link_to 'Details', app, class:'btn btn-success' %>
        <%if user_signed_in? && current_user.id == app.user_id%>
          <%= link_to 'Edit', edit_app_path(app), class:'btn btn-warning' %>
          <%= link_to 'Delete', app, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger'%>
        <%end%>   
      </div>
   </div>      
  <% end %>
</div>
<br>

<%= link_to 'New App', new_app_path %>


