<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @app.name %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @app.skill %>
</p>


<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src=<%=link(@app.video_link)%>></iframe>
</div>


<p>
  <strong>Web link:</strong>
  <%= @app.web_link %>
</p>

<p>
  <strong>Price:</strong>
  <%= @app.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @app.user_id %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
